<footer class="footer bg-body-tertiary">
  <div class="f-links"><h4>Wonderlust</h4></div>
  <div class="f-social-links">
    <a href="https://www.facebook.com/nouman.sharifgul/" target="_blank"
      ><i class="fa-brands fa-facebook"></i
    ></a>
    <a href="https://www.instagram.com/nouman_sharifgul" target="_blank"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a href="https://www.github.com/Noumansharif27/" target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </div>
</footer>
