<%- layout("layouts/boilerplate") %>
<body>
  <form
    action="/listings"
    method="post"
    novalidate
    class="form"
    class="needs-validation"
  >
    <h1>Editing Route</h1>

    <label class="form-label" for="title">Title</label>
    <input
      class="form-control"
      type="text"
      name="listing[title]"
      placeholder="title"
      id="title"
      required
    />

    <label class="form-label" for="description">Description</label>
    <input
      class="form-control"
      type="text"
      name="listing[description]"
      placeholder="description"
      id="description"
      required
    />

    <label class="form-label" for="image">Image Url</label>
    <input
      class="form-control"
      type="text"
      name="listing[image]"
      placeholder="Url"
      id="image"
    />

    <label class="form-label" for="price">Price</label>
    <input
      class="form-control"
      type="number"
      name="listing[price]"
      placeholder="99"
      id="price"
      required
    />

    <label class="form-label" for="country">Country</label>
    <input
      class="form-control"
      type="text"
      name="listing[country]"
      id="country"
      placeholder="Pakistan"
      required
    />

    <label class="form-label" for="location">Location</label>
    <input
      class="form-control"
      type="text"
      name="listing[location]"
      placeholder="lahore"
      id="location"
      required
    />
    <button class="btn btn-success" style="margin: 1rem 0">Add</button>
  </form>
</body>
