<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger mt-3 mb-3 offset-2 d-inline" role="alert">
  <p class="alert-message d-inline me-3"><%= err.message %></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
